</ul>

<div class="master_container">

  <% @pictures.each do |picture| %>
    <div class="container">
      <%= link_to image_tag(picture.URL), picture %> 
      <div class="text_background">
        <h3><%= picture.title %></h3>
        <h3>By: <%= picture.artist %></h3>
      </div>
    </div>
  <% end %>
</div>
  
<br>


