// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


img {
	float: none;
	width: 400px;
	height: 300px;
	display: inline;
}

div.container {
	float: left;
	margin: 5px;
	background: rgba(223,223,223, 0.8);
}


div.pic_container a {

	float: left;
	width: 400px;
	height: 300px;
} 


img:hover {
	border: 2pt solid black;
	width: 396px;
	height: 296px;
}

h3 {
	font-size: 16px;
	display: block;
	width: 380px;
	padding: 0;
	margin: 0;
	margin-left: 8px;
	margin-bottom: 10px;
}

div.text_background {
	color: rgba(23,23,23, 0.8);
	width: 400px;
}

div.master_container {
	width: 1260px;
	margin: 0 auto;
}

div.show_img > img {
	height: auto;
	width: auto;
	margin-top: 36px;
	margin-left: 60px;
}

div.show_img > img:hover {
	height: auto;
	width: auto;
	border: none;
}

h4 {
	color: #b1b1b1;
	text-shadow: 0px 0px 30px rgba(150, 150, 150, 1);
	margin-top: 10px;
	padding: 10px;
	font-size: 20px;
	margin: 5px;
	margin-left: 80px;
	margin-top: 10px;
}

h2 {
	color: #e1e1e1;
	text-shadow: 0px 0px 30px rgba(150, 150, 150, 1);
	margin-top: 10px;
	padding: 10px;
	font-size: 26px;
	margin-left: 60px;
}

li.show_actions {
	float: left;
	font-size: 18px;
}

#menu li.nav_on_show {
	margin-left: 50px;
	border-left: 2pt solid white;
	padding: 0px;

}

#new_picture {
	margin: 20px;
	padding: 10px;
	color: white;
	font-size: 16px;
}

body {
	background: url('http://files.customize.org/download/wallpapers/70510/75059/tabac-1920x1200.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 1000px;
	margin: 0px;
	margin-top: 10px;
}

#notice {
	font-size: 32px;
	margin: 20px 10px;
	padding: 5px;

}